body{
  background: rgb(187, 228, 244);
}

h1{
  font-size: 36px;
  padding-left: 16px;
  border-left: 16px solid rgb(152, 189, 72);
  color: red;
}

img{
  display: block;
  margin: 0 auto;

}